<div class="nav-container">
  <%= link_to image_tag("logo.png", alt: "Airbnb Clone"), root_path %>

  <nav>
    <ul>
      <li>
        <%= link_to "Sign up", "#" %>
      </li>
      <li>
        <%= link_to "Login", "#" %>
      </li>
    </ul>
  </nav>
</div>
